{%  extends "_basic_template.txt" %}

{%  block main %}
    This report is created by {{ my_name() }} to show that
    2 + 2 }}.

    {%  include "_header.txt" %}

    Report itself:

    {% for row in data %}
        Report row is: {{ row }}
        {% if row > 10 %}
            Row is bigger that 10
        {% else %}
            Row is small
        {% end if %}
    {% end for %}

    Different functions of Jinja2 templates:

    Main page content. {{ passing_variable(192) }}
    {{ "Very long text, some extras|truncate(14)" }}

{% endblock %}

{% block footer %}
    {{ super() }}

    Created by: wemake.services
{% endblock %}